/* css reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* custom css page */

/* background pattern */
body {
    background-image: url(pattern.jpg);
}

/* navbar */
header {
    background-color: white;
    height: 55px;
    width: 100%;
}

nav {
    padding-right: 15px;
    float: right;
}

ul li {
    display: inline-block;
    height: 25px;
    width: 60px;
    padding-top: 7px;
    margin-top: 10px;
    margin-right: 3px;
}

ul li:hover {
    background-color: blue;
    color: white;
}

ul a {
    color: blue;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

/* content */
section {
    margin: auto;
    margin-top: 20px;
    width: 900px;
}

h1 {
    background-color: white;
    padding: 18px;
    text-align: center;
    font-size: 23px;
    font-weight: bold;
    letter-spacing: -1px;
}

#article-list {
    background-color: white;
    margin: auto;
    margin-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}

#article-list div {
    margin-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid black;
}

p {
    padding-top: 10px;
    padding-bottom: 15px;
    margin-top: 10px;
}

/* footer */
footer {
    width: auto;
    height: 60px;
    background-color: black;
}

h5 {
    padding-top: 20px;
    color: white;
    text-align: center;
}

/* clearfix */
.cf:before,
.cf:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}